$body-bg: #495057;
$navbar-dark-hover-color: #9eeaf9;
$navbar-dark-active-color: #9eeaf9;
$card-cap-color: #fff;
$card-color: #fff;
$card-border-color: #000;
$card-bg: #212529;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
